<!-- Footer -->
<footer class="page-footer font-small bg-light pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">WSSUP?</h5>
          <p>Fork it! Steal it! Do what ever you want with my projects,<strong>just make sure you dont make it ugly.</strong></p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Connect</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://www.facebook.com/0x00.dude.sourav">Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/0xff_dude">twitter</a>
            </li>
            <li>
              <a href="mailto:souravsunju@gmail.com">Gmail</a>
            </li>
            <li>
              <a href="https://github.com/b33lz3bubTH">Github</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://github.com/b33lz3bubTH"> Shaggy</a>
    </div>
    <!-- Copyright -->
  
</footer>
  <!-- Footer -->