<div class="container">
    <div class="container-fluid">
        <div class="header">
            <h1>ABOUT US</h1>
        </div>
        <div class="body">
            Under the Guidance of
            Souvik Paul ,our Major Project Professor. Galeria-De-Fotos is a project developed by a Team of 4 members. Our Project idea is to develop an Image Sharing Platform to connect people across countries and states. Our objective is to develop a user-friendly platform where people may share their daily Life Activities & Updates through pictures .Also Business Users can Enhance & Increase their Business Flow sharing advertisements of their Respectives Companies and Organizations. The Project is under @lpha Devolpment Phase version running. Stay Updated, have Fun & Enjoy. Business Users Enjoy your free trail.

        </div>
    </div>
</div>
