button {
    margin-right: 2rem;
}

#navbase {
    background-image: url('../assets/glxy.jpg');
}

#sidenavbar {
    background-image: url('../assets/glxy.jpg');
}

#allcontentpagebackground {
    background-image: url('../assets/project-background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
/*
#searchsetup {
    position: relative;
    left: 340px;
} */

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    button {
        margin-right: 0rem;
    }
    #navbase,#allcontentpagebackground{
      width:99vw;
    }
    #allcontentpagebackground,#Whole-Application-Content {
        height: 87vh;
    }


  }


@media (min-height:768px) and (max-height:1080px) {
     #Whole-Application-Content {
        /* Background image is centered vertically and horizontally at all times */
        background-position: center center;


        /* This is what makes the background image rescale based
        on the container's size */
        background-size:cover;

        min-height: 805px;

    }
  }

