<mat-toolbar id="navbase">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
        <h1>Galeria De Fotos</h1>
        <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/accounts'"></a>
        <a color="warn" style="margin-right:16px;" mat-raised-button *ngIf="userAuthObj.isLoggedIn" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Home </a>
        <a color="warn" style="margin-right:16px;" mat-raised-button *ngIf="userAuthObj.isLoggedIn" [routerLink]="['profile', userServObj.username ]" routerLinkActive="active"> Profile</a>
        <a color="warn" mat-raised-button *ngIf="!userAuthObj.isLoggedIn" routerLink="userauth/login" routerLinkActive="active" > Login/Register </a>
        <a color="warn" mat-raised-button *ngIf="userAuthObj.isLoggedIn" routerLink="/" routerLinkActive="active" (click)="logout()"> Logout </a>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span style="font-size: 12px;">Welcome to the new Generation !</span>
      </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container >
    <mat-sidenav id="sidenavbar" #sidenav >
      <mat-nav-list>

        <a mat-list-item *ngIf="userAuthObj.isLoggedIn" [routerLink]="'/home'"> Home </a>
        <a mat-list-item *ngIf="userAuthObj.isLoggedIn" [routerLink]="'/profile/:username'"> Profile </a>
        <a mat-list-item *ngIf="!userAuthObj.isLoggedIn" [routerLink]="'/userauth/login'"> Login/Register </a>
        <a mat-list-item [routerLink]="'/abtus'"> About Us </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content id="allcontentpagebackground" >
      <div class="container-fluid" style="border-top: 5rem;" id="Whole-Application-Content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
<!-- <app-footer></app-footer> -->
