<div class="container my-5">
    <p class="display-3 text-center">User Authentication</p>
    <hr>
    <!-- AD MESSAGE -->
    <ul class="nav nav-tabs w-75 mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/userauth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/userauth/register">Register</a>
        </li>
    </ul>
    <hr>
    <hr>
    <router-outlet></router-outlet>
</div>

